* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #363636 #2e2e2e;
  scrollbar-width: thin;
}

*:hover {
  scrollbar-color: #555 #2e2e2e;
}

body {
  background: #444;
  color: #eee;
  display: flex;
  height: 100dvh;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.toolbar nav {
  background: #161616;
  border-bottom: 1px solid #555;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.toolbar nav ul {
  display: flex;
  list-style: none;
  height: 32px;
}

.toolbar nav ul li {
  padding: 0 4px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toolbar nav ul li:hover {
  background: #444;
}

.tools {
  display: flex;
  border-bottom: 1px solid #555;
  height: 32px;
  align-items: center;
  padding: 0 16px;
}

.logo {
  height: 24px;
  margin-left: auto;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  background: #2e2e2e;
  border-left: 1px solid #555;

  width: 280px;
}

#work-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #000;
}

.display-info {
  border-top: 1px solid #555;
  padding: 2px 16px;
}

.layers-section h3 {
  font-size: 16px;
  padding: 4px 8px;
  display: flex;
}

.layers-list {
  list-style: none;
  background: #2f2f2f;
  height: 300px;
  overflow-y: auto;
  border-bottom: 1px solid #555;
}

.layers-list li {
  padding: 2px 8px;
  font-size: 14px;
  display: flex;
  gap: 8px;
}

.layers-list li:nth-child(2n + 1) {
  background: #353535;
}

.layers-list li input {
  display: flex;
  color: #eee;
  background: none;
  border: 0;
}

.layers-list li input:focus {
  background: #444444;
}

.layers-list .edit-button,
.layers-list .delete-button {
  background: none;
  color: #eee;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.layers-list .edit-button:hover,
.layers-list .delete-button:hover {
  background: #555;
}

.layers-list .edit-button {
  margin-left: auto;
}

#vertical-tools {
  background: #353535;
  border: 1px solid #555;
  border-radius: 4px;
  position: absolute;
  left: 12px;
  top: 12px;
  min-height: 300px;
  width: 40px;
  overflow: hidden;
}

#vertical-tools button {
  width: 100%;
  aspect-ratio: 1;
  font-size: 1.25rem;
  background: none;
  color: #eee;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#vertical-tools button.active {
  background: rgb(62, 62, 62);
}

#vertical-tools button:hover {
  background: #444;
}

#vertical-tools button:active {
  background: #555;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #444;
  padding: 20px;
  width: 300px;
  margin: auto;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal.show {
  display: flex;
}

.btn {
  padding: 4px 12px;
}

#edit-form {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  gap: 8px;
}
